$header-shadow: hsla(29, 57%, 7%, 0.603);
$section-img-shadow: hsla(28, 55%, 6%, 0.747);
$main-color: #D18A48;
$section-color: #DFDFDF;
$section-darker-color: #f1ebe3;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$darker: #000000
