@media (min-width: 768px) {

    .nav {
        padding: 1px;
        .hamburger {
			display: none;
		}
        .nav__desktop {
            display: flex;
        }
    }

    .header {
        &__text-box {
           .title {
                font-size: 10rem !important;
            }
            .text {
                font-size: 4rem !important;
            }
        }
    }
}