@media (min-width: 576px) {
	
    .nav {
        .hamburger {
            display: none;
        }
    }
    
    .header {
        &__text-box {
           .title {
                font-size: 8rem !important;
            }
            .text {
                font-size: 3rem !important;
            }
        }
    }
}
