@use "./colors" as *;
@use "./burgericon" as *;
@use "./animations" as *;

@mixin heroImages($bgImg) {
	background-image: url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	background-color: $light-white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.scroll-block {
	overflow: hidden;
}

.transparent-button {
	margin: auto;
	padding: 15px;
	border: 3px solid $main-color;
	background-color: rgba($color: #000000, $alpha: 0);
	text-decoration: none;
	color: $main-color;
	font-weight: bold;
}

.img-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 5px solid $main-color;
	transform: translate(15px, 15px);
	z-index: 1;
}

//Elementy wjeżdzają z boku
@keyframes navItemAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}
//---
//Navigation
//---
.hamburger-box {
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 200;
	.hamburger {
		position: sticky;
		z-index: 200;
		&-inner,
		&-inner::after,
		&-inner::before {
			background-color: $light-white;
		}
	}
}
.nav {
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: $light-white;
	z-index: 20;
	transform: translateX(101%);
	transition: transform 0.5s;
	.nav__mobile {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100vh;
		width: 100%;
		background-color: $light-white;

		.nav__items {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			.nav__item {
				position: relative;
				display: block;
				margin: 0.5em 0;
				padding: 0.5em 1em;
				font-size: 2.5rem;
				color: $dark;
				text-decoration: none;
				transition: color 0.3s;
				&:hover {
					color: $main-color;
				}
				&::before {
					position: absolute;
					bottom: 5px;
					left: 0%;
					content: "";
					width: 2px;
					height: 100%;
					background-color: $main-color;
					transform: scaleY(0);
					transition: transform 0.2s linear;
				}
				&:hover::before {
					transform: scaleY(1);
				}
			}
		}
	}

	.nav__desktop {
		display: none;
		flex-direction: row;
		justify-content: space-between;
		.nav__desktop-title {
			display: flex;
			align-items: center;
			justify-content: center;
			.nav-logo {
				margin: 0 10px;
				padding: 5px 15px;
				font-family: "Dancing Script", cursive;
				font-size: 2.5rem;
				text-decoration: none;
				color: $dark;
				span {
					color: $main-color;
				}
			}
		}
		.nav__items {
			display: flex;
			justify-content: center;
			align-items: end;

			.nav__item {
				position: relative;
				display: block;
				margin: 0.5em 0;
				padding: 0.5em 1em;
				font-size: 1.5rem;
				color: $dark;
				text-decoration: none;
				transition: color 0.3s;
				&:hover {
					color: $main-color;
				}

				&::before {
					position: absolute;
					bottom: 5px;
					left: 15%;
					content: "";
					width: 70%;
					height: 2px;
					background-color: $main-color;
					transform: scale(0);
					transition: transform 0.2s linear;
				}
				&:hover::before {
					transform: scaleX(1);
				}
			}
		}
	}
}
.nav__mobile-active {
	transform: translateX(0);
}

// ---
// Header
// ---
.header {
	position: relative;
	height: 100vh;
	width: 100%;
	.header-box {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		@include heroImages("../img/main.jpg");
		background-attachment: scroll;
		z-index: 0;
		overflow: hidden;
		.header__img-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $header-shadow;
			z-index: 2;
		}
		.header__text-box {
			color: $light-white;
			font-family: "Dancing Script", cursive;
			text-align: center;
			z-index: 3;
			.title {
				font-size: 6rem;
				font-weight: 300;
			}
			.text {
				font-size: 3rem;
			}
		}
		.header__arrow {
			position: absolute;
			left: 50%;
			bottom: 10px;
			transform: translateX(-50%);
			font-size: 1.5em;
			color: $light-white;
			text-decoration: none;
			z-index: 3;
		}
	}
}

// ---
// Main > Introduction
// ---
.introduction {
	position: relative;
	background-color: $light-white;
	margin: 10em 0;
	.section-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 3em 0em;
		.img-box {
			display: none;
			position: relative;
			height: 150px;
			width: 70px;
			z-index: 0;
			.section-img {
				position: relative;
				height: 500px;
				width: 400px;
				background-image: url("../img/introduction.jpg");
				background-size: cover;
				background-position: center;
				z-index: 2;
			}
		}
		.text-box {
			position: relative;
			margin: 0 2em;
			.title {
				color: $main-color;
				text-align: center;
				margin: 1em 0;
			}
			.text {
				margin-bottom: 3em;

				font-size: 1.8rem;
				color: $dark;
				text-align: justify;
				.more-text {
					display: none;
				}
			}
			.button {
				text-align: center;
			}
		}
	}
}

// ---
// Main > Samples
// ---

.samples {
	position: relative;
	display: block;
	margin-top: 10em;
	height: 450px;
	z-index: 0;

	.button {
		position: absolute;
		left: 50%;
		bottom: 10%;

		transform: translateX(-50%);
		z-index: 12;
		.transparent-button {
			width: 200px;
			padding: 5px 10px;
			font-size: 1.6rem;
		}
	}
	.samples-box {
		position: absolute;
		display: block;
		// top: 100px;
		padding: 0 2em;
		height: 500px;
		width: 100%;
		z-index: 1;
		overflow: hidden;

		.sample {
			// position: absolute;
			// top: -100px;
			left: -17%;
			height: 265px;
			width: 135%;
			padding: 0 4em;
			border-radius: 8px;
			text-decoration: none;
			color: $dark;
			text-align: center;
			z-index: 2;
			// transform: translateX(-50%);
			.sample-img {
				height: 80%;
				width: 100%;

				background-position: center;
				background-size: cover;
				border-top-right-radius: 15px;
				border-top-left-radius: 15px;
			}
			.one {
				background-image: url("../img/vanilla-cake.jpg");
			}
			.two {
				background-image: url("../img/strawberry-ecler.jpg");
			}
			.three {
				background-image: url("../img/chocolate-pops.jpg");
			}
			.four {
				background-image: url("../img/jam-428094_640.jpg");
			}
			.sample-info {
				height: 27%;
				width: 100%;
				background-color: $light-white;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
				.sample-heading {
					padding: 9px 0px 0px;
					font-size: 1.5rem;
				}
				.sample-text {
					padding: 0px 20px;
					font-size: 1.2rem;
				}
			}
		}
	}
	.desktop {
		display: none;
	}
	.samples-bg {
		position: absolute;
		width: 100%;
		height: 90vh;
		top: 100px;
		background-color: $section-color;
		z-index: 0;
	}
}

// ---
// Main > Reviews
// ---

.reviews {
	position: relative;
	background-image: url("../img/section-background.jpg");
	background-position: center;
	background-size: cover;
	height: 700px;
	width: 100%;
	&::before {
		content: "";
		position: absolute;
		height: 700px;
		width: 100%;
		background-color: $section-img-shadow;
	}
	.wrapper-box {
		display: grid;
		height: 700px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	.title {
		position: relative;
		grid-column: 1/5;
		grid-row: 1/2;
		padding: 3em 0;
		text-align: center;
		font-size: 2rem;
		color: $light-white;
	}
	.reviews-box {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 60%;
		height: 100%;
		color: $darker;
		.review {
			position: relative;
			margin: 20px 10px;
			height: 400px;
			width: 30%;
			perspective: 800px;
			.review-img {
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: cover;
				border-radius: 15px;
				transition: 0.8s;
				.fa-magnifying-glass {
					position: absolute;
					bottom: 0;
					right: 0;
					margin: 20px;
					padding: 10px;
					border-radius: 50%;
			font-size: 1.8rem;
			background-color: rgba($color: #000000, $alpha: .7);
					color: $light-white;
				}
			}
			.one {
				background-image: url("../img/girl-1.jpg");
			}
			.two {
				background-image: url("../img/girl-2.jpg");
			}
			.three {
				background-image: url("../img/girl-3.jpg");
			}
			.review-text {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 30px;
				background-image: linear-gradient(315deg, #d1c3b6 0%, #ffffff);
				border-radius: 15px;
				text-align: center;
				transform: rotateY(-180deg);
				opacity: 0;
				transition: 0.8s;
				.text {
					text-align: justify;
					font-size: 1.5rem;
				}
				.author {
					margin-top: 2rem;
					text-align: right;
					span {
						font-size: 1.3rem;
					}
				}
			}
		}
		.review:hover .review-text {
			transform: rotateY(0deg);
			opacity: 1;
		}
		.review:hover .review-img {
			transform: rotateY(180deg);
			opacity: 0;
		}
	}
	.rate-box {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		right: 2em;
		// height: 200px;
		width: 23%;
		border: 5px solid $light-white;
		background-color: $header-shadow;
		text-align: center;
		color: $light-white;
		transform: translateY(-30%);
		.rate {
			position: absolute;
			width: 120%;
			top: -130px;
			left: 50%;
			font-size: 7rem;
			font-weight: bold;
			transform: translateX(-50%);
			span {
				position: absolute;
				bottom: 0px;
				left: 50%;
				font-size: 1.4rem;
				transform: translateX(-50%);
			}
		}
		.rate-heading {
			padding: 20px 20px 0px;
			font-size: 2.5rem;
		}
		.rate-text {
			padding: 10px 20px;
		}
		.transparent-button {
			cursor: pointer;
			padding: 15px 30px;
			margin-top: 10px;
			margin-bottom: 20px;
			border: 3px solid $light-white;
			color: $light-white;
		}
	}
}
}

//Breakpoints

@media (min-width: 375px) {
	.samples {
		height: 500px;
		.samples-box {
			.sample {
				height: 330px;
				.sample-info {
					.sample-heading {
						padding: 12px 0 0;
						font-size: 2rem;
					}
					.sample-text {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
@media (min-width: 414px) {
	.samples {
		height: 580px;
		.samples-box {
			.sample {
				height: 380px;
				.sample-info {
					.sample-heading {
						padding: 12px 0 0;
						font-size: 2rem;
					}
					.sample-text {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}
//small
@media (min-width: 576px) {
	.header {
		.header__text-box {
			.title {
				font-size: 8rem;
			}
			.text {
				font-size: 3rem;
			}
		}
		.header__arrow {
			font-size: 2em;
		}
	}

	.introduction {
		.section-content {
			flex-direction: row;
			margin: 6em 2em;
			.img-box {
				display: block;
				height: 400px;
				width: 250px;
				margin-top: -74px;

				.section-img {
					height: 400px;
					width: 250px;
				}
			}
			.text-box {
				position: relative;
				margin-left: 2em;
				width: 100%;

				.title {
					color: $main-color;
					text-align: left;
					margin: 1em 0;
				}
				.text {
					margin-bottom: 2em;

					font-size: 1.8rem;
					color: $dark;
					text-align: left;
				}
				.button {
					text-align: center;
				}
			}
		}
	}
	.samples {
		.button {
			.transparent-button {
				width: 300px;
				padding: 10px 20px;
				font-size: 1.8rem;
			}
		}
		.samples-box {
			.sample {
				width: 110%;
				left: -5%;
			}
		}
		.samples-bg {
			height: 70vh;
		}
	}
}

@media (min-width: 680px) {
	.introduction {
		.section-content {
			.img-box {
				height: 560px;
				margin-top: 0;
				.section-img {
					height: 560px;
				}
			}
			.text-box {
				width: 100%;
				margin-top: -23px;
				.text {
					.more-text {
						display: block;
						padding-bottom: 6px;
					}
				}
				.button {
					text-align: right;
				}
			}
		}
	}
	.samples {
		.samples-box {
			.sample {
				width: 100%;
				left: 0%;
			}
		}
	}
}

//medium
@media (min-width: 768px) {
	.hamburger {
		display: none;
	}
	.nav {
		padding: 1px;
		border-bottom: 1px solid $dark;
		transform: translateX(0%);
		transition: transform 0s;
		.nav__mobile {
			display: none;
		}
		.nav__desktop {
			display: flex;
		}
	}
	.introduction {
		.section-content {
			.img-box {
				height: 400px;
				margin-top: -72px;
				.section-img {
					height: 400px;
				}
			}
			.text-box {
				margin-top: 0px;
			}
		}
	}
	.header {
		&__text-box {
			.title {
				font-size: 10rem !important;
			}
			.text {
				font-size: 4rem !important;
			}
		}
	}

	.samples {
		.button {
			.transparent-button {
				width: 300px;
				padding: 10px 20px;
				font-size: 2rem;
			}
		}
		.mobile {
			display: none;
		}
		.desktop {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			max-width: 1400px;
		}
		.samples-box {
			left: 0%;
			.sample-desktop {
				display: none;
			}
			.sample {
				position: relative;
				left: 0;
				height: 400px;
				width: 34%;
				padding: 0 1em;
				transform: translateX(0%);
				.sample-img {
					height: 60%;
				}
				.sample-info {
					height: 40%;
					.sample-heading {
						padding: 15px 10px 5px;
						font-size: 2rem;
					}
					.sample-text {
						padding: 0px 10px;
						font-size: 1.7rem;
					}
				}
			}
		}
		.samples-bg {
			position: relative;
			height: 100vh;
			top: 70px;
			background-color: $section-color;
			z-index: 0;
		}
	}
}

//large
@media (min-width: 992px) {
	.img-border {
		transform: translate(30px, 30px);
	}
	.nav {
		padding: 1px;
		border-bottom: 1px solid $dark;
		.hamburger {
			display: none;
		}
		.nav__desktop {
			display: flex;
			.nav__desktop-title {
				.nav-logo {
					font-size: 3.5rem;
				}
			}
			.nav__items {
				.nav__item {
					font-size: 1.8rem;
				}
			}
		}
	}

	.introduction {
		.section-content {
			margin: 8em 2em;
			.img-box {
				height: 600px;
				width: 400px;
				// margin-right: 200px;
				.section-img {
					height: 600px;
					width: 400px;
				}
			}
			.text-box {
				height: 700px;
				margin-top: 0px;
				margin-left: 5em;
				margin-right: 0;
				.title {
					// margin-top: .8em;
					font-size: 4rem;
				}
				.text {
					font-size: 2.2rem;
				}
				.button {
					font-size: 1.8rem;
				}
			}
		}
	}

	.header {
		&__text-box {
			.title {
				font-size: 12rem !important;
			}
			.text {
				font-size: 5rem !important;
			}
		}
	}
	.samples {
		.button {
			position: absolute;
			left: 50%;
			bottom: 15%;
	
			transform: translateX(-50%);
			z-index: 12;
			.transparent-button {
				padding: 5px 10px;
				font-size: 2rem;
			}
		}
		.samples-box {
			left: 50%;
			transform: translateX(-50%);
			.sample-desktop {
				display: block;
			}
			.sample {
				position: relative;
				left: 0;
				height: 360px;
				width: 34%;
				padding: 0 1em;
				transform: translateX(0%);
				.sample-img {
					height: 60%;
				}
				.sample-info {
					height: 40%;
				}
			}
			// .sample-desktop {
			// 	display: block;
			// }
		}
		.samples-bg {
			position: relative;
			height: 100vh;
			top: 70px;
			background-color: $section-color;
			z-index: 0;
			.button {
				bottom: 12%;
				z-index: 12;
				.transparent-button {
					cursor: pointer;
					font-size: 2rem;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.introduction {
		.section-content {
			margin: 10em 3em;
			.img-box {
				height: 700px;
				width: 500px;
				.section-img {
					height: 700px;
					width: 500px;
				}
			}
			.text-box {
				height: 700px;
				margin-top: 0px;
				margin-left: 6em;
				.title {
					margin-top: 0;
					font-size: 3.8rem;
				}
				.text {
					font-size: 2.5rem;
				}
				.button {
					font-size: 2rem;
				}
			}
		}
	}
}
