@use "./colors" as *;
@use "./burgericon" as *;
@use "./animations" as *;

@mixin heroImages($bgImg) {
	background-image: url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 1.6rem;
	background-color: $light-white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

//Elementy wjeżdzają z boku
@keyframes navItemAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}
//---
//Navigation
//---
.hamburger {
	position: absolute;
	top: 3em;
	right: 1em;
	transform: translateY(-50%);
	z-index: 200;
	&-inner,
	&-inner::after,
	&-inner::before {
		background-color: $light-white;
	}
}
.nav {
	position: sticky;
	top: 0px;
	background-color: $light-white;
	z-index: 20;
	transform: translateX(101%);
	transition: transform 0.5s;
	.nav__mobile {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		background-color: $light-white;

		.nav__items {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			.nav__item {
				position: relative;
				display: block;
				margin: 0.5em 0;
				padding: 0.5em 1em;
				font-size: 2rem;
				color: $dark;
				text-decoration: none;
				transition: color 0.3s;
				&:hover {
					color: $main-color;
				}
				&::before {
					position: absolute;
					bottom: 5px;
					left: 0%;
					content: "";
					width: 2px;
					height: 100%;
					background-color: $main-color;
					transform: scaleY(0);
					transition: transform 0.2s linear;
				}
				&:hover::before {
					transform: scaleY(1);
				}
			}
		}
	}

	.nav__desktop {
		display: none;
		flex-direction: row;
		justify-content: space-between;
		.nav__desktop-title {
			display: flex;
			align-items: center;
			justify-content: center;
			.nav-logo {
				margin: 0 10px;
				padding: 5px 15px;
				font-family: "Dancing Script", cursive;
				font-size: 4rem;
				text-decoration: none;
				color: $dark;
				span {
					color: $main-color;
				}
			}
		}
		.nav__items {
			display: flex;
			justify-content: center;
			align-items: end;

			.nav__item {
				position: relative;
				display: block;
				margin: 0.5em 0;
				padding: 0.5em 1em;
				font-size: 2rem;
				color: $dark;
				text-decoration: none;
				transition: color 0.3s;
				&:hover {
					color: $main-color;
				}

				&::before {
					position: absolute;
					bottom: 5px;
					left: 15%;
					content: "";
					width: 70%;
					height: 2px;
					background-color: $main-color;
					transform: scale(0);
					transition: transform 0.2s linear;
				}
				&:hover::before {
					transform: scaleX(1);
				}
			}
		}
	}
}
.nav__mobile-active {
	transform: translateX(0);
}
// ---
// Header
// ---
.header {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	@include heroImages("../img/main.jpg");
	background-attachment: scroll;
	z-index: 0;
	overflow: hidden;
	.header__img-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $header-shadow;
		z-index: 2;
	}
	.header__text-box {
		color: $light-white;
		font-family: "Dancing Script", cursive;
		text-align: center;
		z-index: 3;
		.title {
			font-size: 6rem;
			font-weight: 300;
		}
		.text {
			font-size: 3rem;
		}
	}
	&__arrow {
		position: absolute;
		left: 50%;
		bottom: 10px;
		transform: translateX(-50%);
		font-size: 1.5em;
		color: $light-white;
		text-decoration: none;
		z-index: 3;
	}
}
//Breakpoints

//small
@media (min-width: 576px) {
	.header {
		.header__text-box {
			.title {
				font-size: 8rem;
			}
			.text {
				font-size: 3rem;
			}
		}
		.header__arrow {
			font-size: 2em;
		}
	}
}

//medium
@media (min-width: 768px) {
	.hamburger {
		display: none;
	}
	.nav {
		padding: 1px;
		border-bottom: 1px solid $dark;
		transform: translateX(0%);
		transition: transform 0s;
		.nav__mobile {
			display: none;
		}
		.nav__desktop {
			display: flex;
		}
	}

	.header {
		&__text-box {
			.title {
				font-size: 10rem !important;
			}
			.text {
				font-size: 4rem !important;
			}
		}
	}
}

//large
@media (min-width: 992px) {
	.nav {
		padding: 1px;
		border-bottom: 1px solid $dark;
		.hamburger {
			display: none;
		}
		.nav__desktop {
			display: flex;
			.nav__desktop-title {
				.nav-logo {
					font-size: 5rem;
				}
			}
			.nav__items {
				.nav__item {
					font-size: 2.4rem;
				}
			}
		}
	}

	.header {
		&__text-box {
			.title {
				font-size: 12rem !important;
			}
			.text {
				font-size: 5rem !important;
			}
		}
	}
}
